@import 'tailwindcss';
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@theme static {
  --color-primary: var(--g-color-blue-500);
}

:root {
  --background: #FAFAFC;
  --foreground: #0A0A0B;
  --radius-small: 4px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
